<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.third">

    <application>

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106844708" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="qqappid"
            android:value="${qqappid}" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ 结束-->

    </application>

</manifest>
